{% extends "template.html" %}
{% block title %}Generate{% endblock %}
{% block listcontent %}
<h4>What word do you want to pun?</h4>
	<form method="post" action="/pun/word">
		<label for="expression">Expression:</label>
		<input type="text" name="expression" value=""size="30"><br>
		<input type="submit" value="Submit">
    </form>
<h5>Display Here</h5>

    <ul>
   {% for key, value in records.items() %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
    </ul>
\\
 

{% endblock %}

{% block options %}
<h4>Some Options</h4>
    <button type="button" class="btn btn-secondary m-3" action="/generate">Generate Pun!</button>
	{% endblock %}

	{% block title2 %}Add your new pun to the database {% endblock %}
	{% block content %}
	<form method="post" action="/pun/new">
		<label for="phrase">The Pun:</label>
		<input type="text" name="phrase" value=""size="100"><br>
		<label for="key1">First Keyword:</label>
		<input type="text" name="key1" value="">
		<label for="key2">Second Keyword:</label>
		<input type="text" name="key2" value="">
		<input type="submit" value="Submit">
            </form>
		{% endblock %}
        {% block logout %}<a href='/logout'>Logout</a>{% endblock %}
