{% extends "template.html" %}
{% block title %}Pun Index{% endblock %}
{% block listcontent %}
<h4>First 10 Puns</h4>
<!-- Database entries -->
<ul>
	{% for i in range(10) %}
	<li>{{ records[i].phrase }}</li>
	{% endfor %}
</ul>
{% endblock %}
{% block options %}
<h4>Some Options</h4>
<h5>Click on pun for more information</h5>
<p>ADD 12 Hardcoded puns</p>
<!-- <p>REMOVE ALL</p> -->
<p>SORT </a>by user rating</p>
<p>List puns by keyword</p>
	{% endblock %}
	{% block title2 %}Want to edit the database? <a href="/gologin">Login</a> {% endblock %}
	{% block content %}
	{% endblock %}