<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<title>{% block title %} Puns!! {% endblock %}</title>

	<!-- Custom Fonts -->
	<!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
		type="text/cs
        s"/> -->

	<!--Import bootstrap.css here using the CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Custom CSS -->
	<!-- Option 1: Pure HTML -->
	<link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />

	<!-- Option 2: Flask-generated address -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?q={{ time }}" /> -->
</head>

<body>
	<h2 class="text-center py-3">Pun Intended</h2>
    <h3 class="text-center py-3">{% block title1 %}{% endblock %}</h3>
	<div class="row">
		<div class="container col-8 p-3 ml-5">
            {% block listcontent %}{% endblock %}
		</div> <!-- end of content and col -->

		<div class="container col p-3 mr-5">
            {% block options %}{% endblock %}
        </div>
	</div>
    <div class="container px-3 mx-3 text-center">
        <h4>{% block title2 %}{% endblock %}</h4>
        {% block content %}{% endblock %}
        <h4>{% block logout %}{% endblock %}</h4>
    </div>
	

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
	</script>
</body>

</html>